{% extends 'base.html' %}
{% load static %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
<h1>Recommended workouts</h1>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for obj in workouts %}
            {% if forloop.first %}
                <li data-target="#carouselExampleIndicators" data-slide-to="{{forloop.counter0}}" class="active"></li>
            {% else %}
                <li data-target="#carouselExampleIndicators" data-slide-to="{{forloop.counter0}}"></li>

            {% endif %}
        {% endfor %}
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        {% for obj in workouts %}
            {% if forloop.first %}
                <div class="carousel-item active">
                  <div class="carousel-caption d-none d-md-block">
                      <h5>{{obj.name}}</h5>
                      <p>{{obj.description}}</p>
                      <p>Muscles: {{obj.working_muscles}}</p>
                      <p>Last Update: {{obj.last_updated}}</p>
                      <p>Difficulty: {{obj.difficulty}}</p>
                      <p>Trainer: {{obj.trainer}}</p>
                      <p>{{obj.click_count}} people done this workout.</p>
                  </div>
            {% else %}
                <div class="carousel-item ">
                  <div class="carousel-caption d-none d-md-block">
                      <h5>{{obj.name}}</h5>
                      <p>{{obj.description}}</p>
                      <p>Muscles: {{obj.working_muscles}}</p>
                      <p>Last Update: {{obj.last_updated}}</p>
                      <p>Difficulty: {{obj.difficulty}}</p>
                      <p>Trainer: {{obj.trainer}}</p>
                      <p>{{obj.click_count}} people done this workout.</p>
                  </div>
            {% endif %}
            <img class="d-block w-100 h-70" class="h-50 d-inline-block" src="{{obj.photo.url}}" alt="{{obj.name}}" style="width:900px;height:600px;">
            </div>

        {% endfor %}
    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    </div>
</div>
</body>
</html>



{% endblock %}